<%= if success = get_flash(@conn, :success) do %>
  <.alert msg={success} />
<% end %>
<%= if info = get_flash(@conn, :info) do %>
  <.alert msg={info} />
<% end %>
<%= if error = get_flash(@conn, :error) do %>
  <.alert msg={error} />
<% end %>
<%= @inner_content %>
