<%= if success = Phoenix.Component.live_flash(@flash, :success) do %>
  <.alert msg={success} />
<% end %>
<%= if info = Phoenix.Component.live_flash(@flash, :info) do %>
  <.alert msg={info} />
<% end %>
<%= if error = Phoenix.Component.live_flash(@flash, :error) do %>
  <.alert msg={error} />
<% end %>
<%= @inner_content %>
