<%= if success = live_flash(@flash, :success) do %>
  <.alert msg={success} />
<% end %>
<%= if info = live_flash(@flash, :info) do %>
  <.alert msg={info} />
<% end %>
<%= if error = live_flash(@flash, :error) do %>
  <.alert msg={error} />
<% end %>
<%= @inner_content %>
